# Files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata

# File types to ignore
*.jpg
*.html
*.jpeg
*.tiff
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx

# Directories to ignore
lcm/lcm_outputs/
hab/Outputs/feature
*spawner-recruit/
*diagnostics/