# Files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata

# File types to ignore
*.jpg
*.html
*.jpeg
*.tiff
*.docx
*.zip

# Directories to ignore
lcm/lcm_outputs/
hab/Outputs/feature
*spawner-recruit/
*diagnostics/